/*Google Font Exo Integration*/
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700&display=swap');

/*Global CSS*/
* {
    font-family: 'Exo', sans-serif;
}
h2 {
    font-size: 35px;
}
.highlight {
    color: #ff6d6d;
    text-transform: uppercase;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
.btn-primary:active {
    background: #ff6d6d !important;
    border-color: none !important;
}
.btn-primary:focus:active {
    background: #ff6d6d !important;
    border-color: rgba(0,0,0,1) !important;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0) !important;
}

/*Header Section Start*/
header {
    background: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 695px;
}
header h1 {
    margin: 170px auto 0px;
    font-weight: 100;
    width: 60%;
    letter-spacing: 2px;
    font-size: 55px;
}
.play-image {
    margin: 30px 0px;
    opacity: 0.6;
    transition: all 0.7s ease-in-out;
}
.play-image:hover {
    border: 10px solid #7f7f7f87;
    border-radius: 50%;
}
.btn-try {
    background: #ff6d6d;
    text-transform: uppercase;
    padding: 10px 45px;
    padding-top: 12px;
    border: none;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.btn-try:hover {
    background: #ff4b4b;
}
.header-p {
    font-size: 14px;
}

/*Design Section*/
.design {
    position: relative;
}
.design-left h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 110px;
}
.design-left h2 {
    width: 65%;
    font-weight: 500;
    margin-bottom: 30px;
}
.design-left p {
    font-size: 14px;
}
.design-p {
    margin-bottom: 65px;
}
.design-right img {
    max-width: 100%;
    position: absolute;
    right: -104px;
}

/*Feature Section*/
.feature {
    position: relative;
    background: #f6f5f3;
}
.pen-holder {
    position: absolute;
    left: 100px;
}
.headphone {
    position: absolute;
    right: 160px;
}
.coffee-cup {
    position: absolute;
    right: 120px;
    bottom: 0px;
}
.feature h5 {
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}
.feature h2 {
    text-align: center;
    margin-bottom: 70px;
}
.card-custom {
    background: none;
    border: none;
}
.card-custom img {
    display: block;
    max-width: 20%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.card-custom h6 {
    text-align: center;
}
.card-custom p {
    text-align: center;
    padding-bottom: 139px;
}

/*Laptop Section*/
.laptop {
    background: url(../images/laptop-bg.png);
    background-size: cover;
    background-position: center;
}
.laptop img {
    max-width: 100%;
    margin: 80px 0px;
}
.laptop h5 {
    color: #ff6d6d;
    margin-top: 115px;
    font-size: 16px;
    text-transform: uppercase;
}
.laptop h2 {
    width: 67%;
}
.laptop p {
    width: 83%;
}

/*Client Section*/
.client {
    background: url(../images/banner-diamond.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.client .client-card {
    background: none;
    border: none;
}
.client .client-card img {
    display: block;
    max-width: 20%;
    margin: 0 auto;
    margin-top: 100px;
}
.client .card-body-custom h4 {
    color: #fff;
    text-align: center;
}
.client .card-body-custom h6 {
    color: #ff6d6d;
    text-align: center;
}
.client .card-body-custom p {
    color: #c7c7c8;
    text-align: center;
}

/*Brand*/
.brand-logo {
    
margin-top: 30px;
    
margin-bottom: 80px;
}
.brand-logo-two img {
    position: absolute;
    bottom: 4px;
}
.brand-logo-three img {
    position: absolute;
    bottom: -7px;
}

/*New Feature Section*/
.new-feature {
    background: #f6f5f3;
}
.new-feature h5 {
    text-align: center;
    margin-top: 80px;
}
.new-feature h2 {
    text-align: center;
    margin-bottom: 40px;
}
.new-feature p {
    text-align: center;
    width: 57%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.new-feature img {
    display: block;
    margin: 0 auto;
}

/*Designer Section*/
.designer {
    background: #364084;
    padding: 70px 0px 45px;
}
.designer h5 {
    font-size: 14px;
}
.designer h2 {
    color: #fff;
}
.designer img {
    margin-top: 20px;
}
.designer p {
    color: #fff;
    display: inline-block;
}
.form-control-custom {
    padding: 22px 10px;
    font-size: 15px;
}
.btn-try-now {
    background: #ff6d6d;
    text-transform: uppercase;
    padding: 10px 45px;
    padding-top: 12px;
    border: none;
    letter-spacing: 2px;
}
.btn-try-now:hover {
    background: #ff4b4b;
}
.terms {
    margin-top: 35px;
}
.terms a {
    color: #a8aabc;
}

/*Footer Section*/
footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: right;
    padding-top: 40px;
    padding-bottom: 10px;
}
footer h4 {
    display: inline-block;
    position: relative;
    font-size: 24px;
}
footer .text-start {
    position: relative;
}
footer .footer-content {
    line-height: 0;
}
footer img {
    opacity: 0.8;
    position: absolute;
    top: -9px;
    left: 73px;
}
footer h4 .text-ex {
    position: absolute;
    top: -36px;
    left: 61px;
    color: #fff;
}
footer ul {
    padding-left: 0;
}
footer .ul-margin {
    margin-top: 6px;
}
footer ul li {
    list-style: none;
    padding-bottom: 5px;
}
.form-group .fa-paper-plane {
    position: absolute;
    background: #FF8A8A;
    padding: 9.5px 15px;
    top: 42px;
    right: 120px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer .email {
    position: relative;
    border-radius: 5px;
    border: 1px solid #FF8A8A;
    box-shadow: 0px 0px 5px #ff8a8a;
    padding: 5px 10px;
    padding-right: 50px;
    width: 70%;
}
.fa-dribbble {
    margin-top: 20px;
    background: #FF8A8A;
    padding: 6px 7.2px;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.5s;
}
.fa-facebook {
    margin-top: 20px;
    background: #FF8A8A;
    padding: 6px 9.5px;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.5s;
}
.fa-google-plus {
    margin-top: 20px;
    background: #FF8A8A;
    padding: 6px 3.7px;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.5s;
}
.fa-twitter {
    margin-top: 20px;
    background: #FF8A8A;
    padding: 6px 6.5px;
    color: #fff;
    border-radius: 50%;
    transition: 0.5s;
}
.fa:hover {
    transform: rotate(360deg);
}
